<!-- just for testing: REMOVE -->
<h2>Debug enabled</h2>
	<p>All user answers: <%= @all_user_answers %></p>
	<p>All question id's with answer by this user (includes orphaned questions): <%= @all_user_answer_ids %></p>
	<p>All question id's: <%= @all_question_ids %></p>
	<p>All question id's with answer by this user that map to existing questions (non-orphaned answers): <%= @all_answered_question_ids %></p>
	<p>Profile exists? <%= @profile_exists %></p>
	<p>Question id's for orphaned answers: <%= @all_orphaned_answer_ids %></p>