<h1>Searching for 
<% if not params[:search].nil? %>
<%= @query %> 
<% end %>

</h1>
<div>

	<div class="well">
		
		<div class="form-horizontal">


			<%= form_tag '/search', :method => 'get' do %>
				<p>
					<% if not params[:search].nil? %>
						<%= text_field_tag :search, params[:search] ,:class => "input search-query"%>
						<%= submit_tag "Search", :name => nil , :class => "btn btn-success todo-popover", :onclick=> "codeAddress()"%>
					<% else %>
						<%= text_field_tag :search, "",:class => "input search-query"%>
						<%= submit_tag "Search", :name => nil , :class => "btn btn-success todo-popover", :onclick=> "codeAddress()"%>
					<% end %>
				</p>
			<% end %>
		</div>
	</div>
	
	<% if not @cat.nil?%>
	   <h1>Filtered By Category: <%= Category.where('id = ?',@cat).first.name %></h1>
	<% end %>


	<table class="table table-striped" style="float: left">
		<% @categories.each do |category| %>
			<% if @categorycount[@categories.index(category)] > 0 %>
				<tr>
					<td width="25%">
						<% @link = (category.name + " (" + @categorycount[@categories.index(category)].to_s + ")" )%>
						<% if not @cat.nil?%>
							<% if category.id == @cat %>
								<b><%= link_to @link, search_path(:search => params[:search] ,:cat => category.id )%><b>
							<% else %>
								<%= link_to @link	, search_path(:search => params[:search] ,:cat => category.id )%>
							<% end %>
						<% else %>
							<%= link_to @link	, search_path(:search => params[:search] ,:cat => category.id )%>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
	
	



	<h2>Jobs</h2>
	<div id="search-results">
		<table class="table table-striped" >
			<% @jobs.each do |job| %>
				<tr>
					<td width="75%">
						<h3><a class='modal-dialog' href="<%= url_for(job) %>"><%= job.title %></a></h3>
						<span class="todo-tooltip" title="Email of Requestor"><%= job.user.email %></span> <br/>
						<div class="btn-group todo-popover" data-original-title="What are options for?" data-content="Shortcuts; i.e. messaging the user before applying; delete/edit job if its your job; viewing the job">
							<a class="btn btn-success" href="#"><i class="icon white user"></i>Options</a>
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a class='modal-dialog' href="<%= url_for(job) %>"><i class="icon-list-alt"></i> View</a></li>
								<% if current_user != nil and  (job.user.id == current_user.id or current_user.role? :admin) %>
									<li> <%= link_to edit_job_path(job) do %><i class="icon-pencil"></i> Edit <%end %></li>
									<li> <%= link_to (job), :confirm => 'Are you sure?', :method => :delete  do  %><i class="icon-trash"></i> Delete <% end %></li>
								<% end %>
							</ul>
						</div>
					</td>
					<td width="25%">
						<h3 class="todo-tooltip" title="How much the requestor will pay"><%= job.price %></h3>
						<span class="todo-tooltip" title="When would you need to perform the service by?"><%= job.when.month %>/<%= job.when.day %>/<%= job.when.year %></span>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="page_info">
		<%= page_entries_info @jobs %>
	</div>
	<%= will_paginate @jobs, :class => "pagination" %>

</br>
</br>
</br>
<div id="search-results">
<h2>Users</h2>
<table class="table table-striped" >
<% @users.each do |user| %>
  <tr>
  	
  	<td width="15%">  		
  		<% if not get_profile_pic(user.profile.id).nil? %> <!-- TODO: remove redundant call to helper method - make available in controller -->
  			<%= link_to image_tag(get_profile_pic(user.profile.id).image_url(:thumb).to_s, :border => 0), profile_path(user.profile.id) %>  			
  		<% else %>
  			<%= link_to 'No image available', profile_path(user.profile.id) %>
  		<% end %>
  	</td>  	
  	
	<td width="60%">
	<h3><a class='modal-display' href="<%= url_for(user) %>"><%= user.username %></a></h3>
	<span class="todo-tooltip" title="Email of Requestor"><%= user.email %></span> <br/>
	<br/>
		<div class="btn-group todo-popover" 
		data-original-title="What are options for?" 
		data-content="Shortcuts; i.e. messaging the user before applying; delete/edit job if its your job; viewing the job">
          <a class="btn btn-success" href="#"><i class="icon white user"></i>Options</a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><%= link_to "View Profile", profile_path(user.profile) unless user.profile.blank? %></li>
          </ul>
        </div>
	</td>
	<td width="25%">
	<h3 class="todo-tooltip" title="First Name Of User"><%= user.first_name %></h3>
	<span class="todo-tooltip" title="Full Name of User"><%= user.first_name %> - <%= user.middle_name %> - <%= user.last_name %></span>
	</td>
  </tr>
  
  
  
  
<% end %>

</table>
		<div class="page_info">
			<%= page_entries_info @users %>
	    </div>
		<%= will_paginate @users, :class => "pagination" %>


</div>
</div>
</br>

