<h1>Edit profile image info</h1>

<div id="pic_area">
	<%= image_tag @image.image_url(:profile_pic).to_s if not @image.nil? %>
</div>

<%= form_for [@user_profile,@image], :method => 'put' do |f| %>
	Name: <p><%= f.text_field :name %></p>
	Description: <p><%= f.text_field :image_description %></p>
	<p><%= f.check_box :profile_picture %><%= f.label :profile_picture, 'Profile picture?' %></p>
	<p><%= f.submit %></p>
<% end %>